body{
		background: url(../img/bg2.jpg);
    }
 
div{
	border:50px;
	border-radius: 5px;
	background: url(./bg.jpg);
	position: 80px;
	background-size: 100% auto;
	width: 65%;
	height: 100%;
	margin-left:auto;
	margin-right:auto
   }  
 p{
 	 font-size:40px;
   }  
 h4{
 	font-size: 15px;
 	padding-left: 26px;
   }